<header class="bg-primary text-white p-3">
    <div class="container">
        <nav class="nav justify-content-center">
            <a class="nav-link text-white" href="/">Home</a>
            <a class="nav-link text-white" href="/about">About</a>
            <a class="nav-link text-white" href="/articles">Articles</a>
            <a class="nav-link text-white" href="/categories">Categories</a>
            <a class="nav-link text-white" href="/articles/add">Add Article</a>
        </nav>
    </div>
</header>